@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page{
  min-width: 1280px;
  max-width: 1280px;
  background-color: black;
  margin: auto;
}

@media screen and (max-width: 1279px) {
  .page {
      min-width: 880px;
    }
}

@media screen and (max-width: 879px) {
  .page {
      min-width: 598px;
    }
}

@media screen and (max-width: 597px) {
  .page {
      min-width: 320px;
    }
}

/*header*/

.header{
  max-width: 880px;
  height: 74px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 40px;
}

.header__logo{
  padding: 0;
  margin: 0;
  width: 142px;
  height: 33px;
  margin-right: auto;
}

.header__line{
  opacity: 0.7;
  border: 1px solid #545454;
  margin-top: auto;
}


/*content*/

.content{

}



/*profile*/

.profile{
  display: flex;
  margin: auto;
  max-width: 880px;
  padding-bottom: 51px;
}

@media screen and (max-width: 615px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 36px;
    }
}

.profile__avatar{
  padding-right: 30px;
  max-width: 120px;
}

@media screen and (max-width: 615px) {
  .profile__avatar {
   padding: 0;
   padding-bottom: 26px;
    }
}

.profile__info{
  width: 336px;
color: white;
display: flex;
flex-wrap: wrap;
align-self: center;
}

@media screen and (max-width: 615px) {
  .profile__info {
   width: 282px;
   justify-content: center;
    }
}

.profile__info-title{
  margin: 0;
  padding: 0;
  width: 294px;
  height: 39px;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 48px;
}

@media screen and (max-width: 615px) {
  .profile__info-title {
    width: 189px;
    height: 26px;
font-size: 27px;
line-height: 33px;
text-align: center;
    }
}

.profile__info-subtitle{
  margin: 0;
  padding: 0;
  width: 336px;
  height: 18px;
  padding-top: 16px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
}


@media screen and (max-width: 615px) {
  .profile__info-subtitle {
    padding-top: 14px;
    margin-bottom: 36px;
font-size: 14px;
line-height: 17px;
text-align: center;
width: 282px;
    }
}

.profile__info-edit-button{
  padding: 0;
margin-left: auto;
margin-top: auto;
width: 24px;
height: 24px;
background: black;
border: 1px solid #FFFFFF;
}

@media screen and (max-width: 615px) {
  .profile__info-edit-button {
    margin-left: 10px;
    width: 18px;
height: 18px;
    }
}

.profile__info-edit-button-image{
width: 10px;
}

@media screen and (max-width: 615px) {
  .profile__info-edit-button-image {
    width: 7.5px;
    }
}

.profile__add-button{
  padding: 0;
  width: 150px;
height: 50px;
border: 2px solid #FFFFFF;
border-radius: 2px;
background: black;
margin-left: auto;
align-self: center;
}

@media screen and (max-width: 615px) {
  .profile__add-button {
    width: 282px;
    margin: 0;
    }
}

/*popup*/

.popup{
  background: rgba(0,0,0,.5);
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
right: 0;
z-index: 10;
display: none;
}

.popup__container{
background-color: white;
width: 430px;
z-index: 11;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
border-radius: 10px;
margin: auto;
display: flex;
flex-direction: column;
position: relative;
}

@media screen and (max-width: 615px) {
  .popup__container {
    width: 282px;
    }
}

.popup__container-close-button{
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
  background: #000000;
  position: absolute;
  align-self: flex-end;
  top: -40px;
  right: -40px;
  background-image:url(./images/Close_Icon.svg);
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 615px) {
  .popup__container-close-button {
    right: 0;
    width: 20px;
    height: 20px;
    }
}

.popup__container-title{
  font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
color: #000000;
margin: 0;
padding: 0;
padding-top: 34px;
padding-left: 36px;
padding-bottom: 24px;
height: 23px;
}

@media screen and (max-width: 615px) {
  .popup__container-title {
    font-size: 18px;
padding-top: 25px;
line-height: 22px;
padding-left: 22px;
padding-right: 22px;
padding-bottom: 45px;
    }
}

.popup__container-input{
  padding: 0;
margin-top: 30px;
align-self: center;
height: 14px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
width: 358px;
border: none;
}

@media screen and (max-width: 615px) {
  .popup__container-input {
    width: 238px;
    }
}

.popup_container-line{
  opacity: 0.2;
border: 1px solid #000000;
width: 358px;
align-self: center;
margin-top: 13px;
}

@media screen and (max-width: 615px) {
  .popup_container-line {
    width: 238px;
    }
}

.popup__container-button{
  color: white;
  padding: 0;
  background: #000000;
  border: 0;
  border-radius: 2px;
margin-top: 48px;
width: 358px;
height: 50px;
margin-bottom: 37px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
align-self: center;
}

.popup__container-button:hover{
  opacity: 0.8;
}

@media screen and (max-width: 615px) {
  .popup__container-button {
    width: 238px;
    height: 46px;
    margin-top: 45px;
    margin-bottom: 25px;
    }
}

/*elements*/

.elements{
  max-width: 880px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  justify-content: center;
}

@media screen and (max-width: 879px) {
  .elements {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 615px) {
  .elements {
    grid-template-columns: 282px;
    grid-template-rows: repeat(6, 1fr);
    gap: 17px 0;
    }
}

.element{
  width: 282px;
  display: flex;
  flex-wrap: wrap;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}


.elemet__image{
  border-radius: 10px 10px 0 0;
}


.element__title{
color: black;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 21px;
  width: 194px;
}

.element__like-button{
margin-left: auto;
background: white;
width: 22px;
height: 19px;
padding: 0;
align-self: center;
margin-right: 30px;
border: 0;
z-index: 1;
}



/*footer*/

.footer{
  padding-top: 61px;
  padding-bottom: 60px;
  max-width: 880px;
  margin: auto;
}

@media screen and (max-width: 615px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
    }
}

.footer__copiright{
  margin: 0;
  padding: 0;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #545454;
}

@media screen and (max-width: 615px) {
  .footer__copiright {
font-size: 14px;
line-height: 17px;
padding-left: 19px;
    }
}

.button{

}

.button:hover{
  opacity: 0.6;
}