.profile__avatar{
  padding-right: 30px;
  max-width: 120px;
}
@media screen and (max-width: 615px) {
    .profile__avatar {
       padding: 0;
       padding-bottom: 26px;
      padding-top: 8px;
        }
}