.profile__info{
  width: 336px;
color: white;
display: flex;
flex-wrap: wrap;
align-self: center;
}
@media screen and (max-width: 615px) {
    .profile__info {
       width: 282px;
       justify-content: center;
        }
}